# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
venv/
env/
.venv/

# Datos generados en runtime
Python/data/facturas.json
Python/data/pedidos.json
Python/data/envios.json

# IDEs
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

Python/data/